.session-wrapper {
  width: 100%;
  background-color: rgba(29,28,29,0.08);
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.session-content {
  background-color: white;
  width: 25%;
  min-width: fit-content;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 4rem 4rem 1rem;
}

.signup-page {
  display: flex;
  flex-direction: column;
}

.signup-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-width: 70%;
}

.signup-form > * {
  margin-bottom: 1rem;
}

.signup-form > label {
  display: flex;
  flex-direction: column;
}

.signup-form > input[type=submit] {
  background-color: #007a5a;
  color: white;
  height: 2.875rem;
  font-weight: 900;
  font-size: 1.25rem;;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  text-transform: capitalize;
}

.signup-form > input[type=submit]:hover {
  background-color: #148567;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.signup-form input[type=text], .signup-form input[type=password] {
  font-size: 1.25rem;
  padding: .75rem;
  border: 1px solid #868686;
  border-radius: .25rem;
  color: #1d1c1d;
  transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
  box-shadow: none;
  height: 1.5rem;
}

.signup-form input[type=text]:hover, .signup-form input[type=password]:hover {
  border-color: #616061;
}

.signup-form input[type=text]:active, .signup-form input[type=password]:active {
  border-color: #616061;
  outline-offset: 0;
  outline: 0;
  box-shadow: none;
}

.signup-form > span {
  margin: 0 0 1rem;
  font-size: 0.9rem;
}

.session-content h2 {
  align-self: flex-start;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 2rem;
}

#signup-buttons>a {
  background-color: rgba(29,28,29,0.02);
  box-sizing: border-box;
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid;
  border-color: rgba(29,29,29,.13);
}

#signup-buttons>a:hover {
  background-color: rgba(161, 157, 161, 0.28);
  border-color: black;
}

#signup-buttons>a>h3 {
  color: #1264a3;
}

#signup-buttons>a>span {
  color: rgba(29,28,29,.7);
}